@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}

body {
  background-color: #F3F5F6;
}

.header {
  width: 100%;
  height: 50px;
  background-color: rgb(32,32,35);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  padding: 0 30px;
  z-index: 9999;

  p {
    color: #ffff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
  }

  div{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: greenyellow;
  }
}

.navbar-container {
  width: 100px;
  height: 100%;
  left: 0;

  .navbar {
    background-color: #ffff;
    position: fixed;
    top: 60px;
    left: 10px;
    bottom: 60px;
    display: block;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid rgb(32,32,35);

    .nav-link{
      border-radius: 20px;
    }

    .active{
      border: 2px solid rgb(32,32,35);
    }
  }
}

.containers{
  position: absolute;
  top: 60px;
  left: 130px;
  right: 10px;

  p {
    padding-top: 10px;
  }
}

.loader {
  margin-top: 100px;
}

.form {
  width: 100%;
  height: 40px;
  background-color: #ffff;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 20px;
  
  .input {
    width: 100%;
    margin-left: 10px;
    outline:none;
    border: none;
  }
}

.photos {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  justify-content: space-around;
}

.photo{
  width: 320px;
  height: 320px;
  margin: 0 20px 20px;
  background-color: #ffff;
  list-style: none;
  display: block;
  justify-content: center;
  border: 2px solid rgb(32,32,35);
  border-radius: 20px 20px 0 0;
  position: relative;
  padding: 10px;
  
  img {
    // margin: 10px 0 10px 10px;
    width: 296px;
    height: 198px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }

  button {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  p {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    word-break: break-all;
    overflow: hidden;
  }

  input {
    position: absolute;
    bottom: 10px;
    left: 10px;
    outline:none;
    border: none;
    width: 200px;
  }

  span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 200px;
  }
}

.pagination {
  margin: 20px 0;
  height: 39px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;

  p {
    padding: 0 10px;
  }
}

.footer {
  width: 100%;
  height: 50px;
  background-color: rgb(32,32,35);
  position: fixed;
  bottom: 0;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  
  p {
    color: #ffff;
    font-size: 15px;
    font-weight: 600;
  }
}